<%- include("../partials/user/header.ejs") %>



<div class="main-container">
 <section class="shop-page container">
   <div class="shop-topbar">
     <div class="search-bar">
       <form action="" method="POST" class="search-form">
         <input type="text" name="query" placeholder="Search items..." class="search-input" />
         <button type="submit" class="search-button">Search</button>
       </form>
     </div>
   </div>
  
   <div class="product-list-container">
     <aside class="sidebar">
       <div class="filter-section">
         <div class="filter-title">Categories</div>
         <div class="category-brand-container">
           <ul>
            <%for(let i=0;i<category.length;i++){%>
               <li class="filter-item">
                 <a href="/filter?category=<%category[i]._id%>"><%=category[i].name%></a>
               </li>
               <%}%>
           </ul>
         </div>
       </div>


      
       <div class="filter-section">
         <div class="filter-title">Brands</div>
         <div class="category-brand-container">
           <ul>
            <%for(let i=0;i<brand.length;i++){%>
               <li class="filter-item">
                 <a href="/filter?brand=<%brand[i]._id%>"><%=brand[i].brandName%></a>
               </li>
               <%}%>
           </ul>
         </div>
       </div>


      
       <div class="price-filter">
         <div class="filter-title">Filter by Price</div>
         <form id="price-filter-form">
           <div class="price-options">
             <a href=""><button type="button" class="price-button">Under ₹100</button></a>
             <a href=""><button type="button" class="price-button">₹100 - ₹250</button></a>
             <a href=""><button type="button" class="price-button">₹250- ₹500</button></a>
             <a href=""><button type="button" class="price-button">Above ₹500</button></a>
           </div>
         </form>
       </div>
     </aside>


     <main class="product-grid">
        <%for(let i=0;i<products.length;i++){%>
         <div class="product-card">
           <span class="wishlist-btn" onclick="">❤️</span>
           <a href="" style="color:black; text-decoration:none;">
             <img src="<%=products[i].productImage[0]%>" alt="<%=products[i].productName%>" />
             <h4><%=products[i].productName%></h4>
             <p>Brand:<%=products[i].brand%></p>
             <p>Price:₹<%=products[i].salePrice%> <span class="text-muted "><strike style="color: red;">₹<%=products[i].regularPrice%></strike></span></p>
           </a>
           <button class="add-to-cart-btn" onclick="">Add to Cart</button>
         </div>
         <%}%>
     </main>
   </div>


<!-- Pagination -->
   <div class="pagination">
     <% if (currentPage > 1) { %>
       <a class="btn" href="/shop?page=<%= currentPage - 1 %>">Prev</a>
     <% } %>


     <% for (let i = 1; i <= totalPages; i++) { %>
       <a class="btn <%= currentPage === i ? 'active' : '' %>" href="/shop?page=<%= i %>"><%= i %></a>
     <% } %>


     <% if (currentPage < totalPages) { %>
       <a class="btn" href="/shop?page=<%= currentPage + 1 %>">Next</a>
     <% } %>

   </div>
  
 </section>
</div>

   <%- include("../partials/user/footer.ejs") %>



